# Base de datos
DB_HOST=localhost
DB_PORT=3306
DB_NAME=hospital_db
DB_USER=root
DB_PASSWORD=root

# Servidor
PORT=3000

# Seguridad
JWT_SECRET=supersecretkey

# Admin por defecto
ADMIN_NAME=admin
ADMIN_EMAIL=admin@clinica.com
ADMIN_PASSWORD=123456
